<div id="page-wrapper">

    <!-- Header -->
      <header id="header" class="alt">
        <img class="main__logo" src="../assets/images/blue_short-2.svg">    
      </header>
  

 
  
    <!-- Main -->


  <router-outlet></router-outlet>
  
    <!-- Footer -->
    <footer class="single_column  ">
      <nav>
        <div class="join">
        <img src="../assets/images/blue_square.svg" alt="The Movie Database (TMDB)" width="130" height="94">
    
        
         
        
        </div>
    
        <div>
        <h3>The Basics</h3>
        <ul>
          <li><a >About TMDB</a></li>
          <li><a >Contact Us</a></li>
          <li><a >Support Forums</a></li>
          <li><a >API</a></li>
          <li><a  target="_blank" rel="noopener">System Status</a></li>
        </ul>
        </div>
        <div>
        <h3>Get Involved</h3>
        <ul>
          <li><a ><span class="glyphicons glyphicons-asterisk"></span> Contribution Bible</a></li>
          <li><a >Add New Movie</a></li>
          <li><a >Add New TV Show</a></li>
        </ul>
        </div>
        <div>
        <h3>Community</h3>
        <ul>
          <li><a >Guidelines</a></li>
          <li><a >Discussions</a></li>
          <li><a >Leaderboard</a></li>
          <li><a  target="_blank" rel="noopener">Twitter</a></li>
        </ul>
        </div>
        <div>
        <h3>Legal</h3>
        <ul>
          <li><a >Terms of Use</a></li>
          <li><a >API Terms of Use</a></li>
          <li><a >Privacy Policy</a></li>
        </ul>
        </div>
      </nav>
    
      <section>Build ca863e5 (3444)</section>
      </footer>
  
  </div>
