<section class="banner" *ngIf="movie?.backdrop_path" style="background-image: url(https://image.tmdb.org/t/p/original/{{movie?.backdrop_path}});">

  <div class="row rowGb">
    <div class="col-md-3">
      <img class="poster" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" />
    </div>
    <div class="col-md-9">
      <h1>{{movie.title}}</h1>
   
        <ul class="informations">
          <li>{{movie.release_date}}</li>
          <li>{{movie.popularity}}</li>         
          <li>{{movie.vote_average}}</li>
          <li >
            <span *ngFor="let g of movie.genres"> {{g.name}} ,</span>
           </li>
           <li style="list-style: none;">
            <i class="fa fa-heart"></i>
           </li>
           <li>
            <i class="fa fa-star"  [matMenuTriggerFor]="menu" #menuTrigger></i> {{movie?.vote_average}}
          </li>
        </ul>
      
      <h2>Overview</h2>
      <p>{{movie.overview}}</p>
      <h2>Popularity</h2>
      <p>{{movie.popularity}}</p>
    </div>
  </div>
   
  </section>
<div class="container">

    <h1 class="Reviews">Reviews</h1>
    <div class="review_wrap" infinite-scroll
    [infiniteScrollDistance]="scrollDistance"   
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown($event)" *ngFor="let review of movieReviews">
    <div class="row">
      <div class="col-md-1">
      <img class="poster" *ngIf="!review?.author_details?.avatar_path" src="../../../assets/images/Default-avatar.jpg" />

      <img class="poster" *ngIf="review?.author_details?.avatar_path" src="https://image.tmdb.org/t/p/original/{{review?.author_details?.avatar_path}}" />
        
      </div> 
       <div class="col-md-11">
        <h2>{{review?.author}}   <i class="fa fa-star"></i> {{review?.author_details?.rating}}</h2>
        <p class="authorInfo">
          Written by {{review?.author}} on {{review?.created_at | date: 'mediumDate'}}
        </p>
        <p>{{review?.content}}</p>
       </div>
    </div>
  </div>
  <p style="text-align: center;" *ngIf="movieReviews?.length == 0">No reviews available for this movie</p>
</div>
  <mat-menu #menu="matMenu" >
    <ngx-star-rating [(ngModel)]="rating" (change)="rateMovie()" [id]="'rating'" ></ngx-star-rating>

  </mat-menu>
