<section id="main" class="container"  >
    <div class="row">
        <button (click)="changeToFav(true)">true</button>
        <button (click)="changeToFav(false)">false</button>
      <div class="col-3 col-12-narrower" *ngFor="let movie of movies | async ">

        <section class="box special" (click)="goToDetails(movie.id)">
          <span class="image featured"><img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" /></span>
          <h3>{{movie.title}}</h3>    
          <i class="fa fa-heart" [class.red]="movie.favorite == true" (click)="favItem($event,movie,movie.favorite)"></i>      
        </section>
      </div>    
    </div>
  </section>
